/* フォント */
body {
  font-family: Arial, sans-serif;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

/* 縁取り */
.canvas_container,
.channel_canvas {
  border: 1px solid #ccc;
}

/* サイズ縮小 */
#input_canvas_container {
  width: 30%;
}

.input_canvas,
.channel_canvas {
  width: 100%;
  height: 100%;
}

/* 境界線 */
input,
button,
#canvas_container {
  border-top: 1px solid #ccc;
  margin-top: 10px;
}

/* canvas の余白 */
#canvas_container {
  margin-top: 10px;
}

/* グリッド */
#canvas_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  grid-auto-rows: 50%;
  grid-gap: 10px;
}

@media (max-width: 768px) {
  .channel_canvas {
    width: 90%;
  }

  #canvas_container {
    display: block;
  }
}
